<script>
        let columns = JSON.parse('{{ header | tojson }}');

var table = new Tabulator("#wrapper", {
    ajaxURL: "/api/data",
    ajaxContentType:"json",
    ajaxResponse:function(url, params, response){
        //url - the URL of the request
        //params - the parameters passed with the request
        //response - the JSON object returned in the body of the response.
        return response; //pass the data array into Tabulator
    },
    height:"80%",
    layout:"fitDataFill",
    responsiveLayout:"collapse",
    rowHeader:{formatter:"responsiveCollapse", width:30, minWidth:30, hozAlign:"center", resizable:false, headerSort:false},
    columns
});
</script>