 <div class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-lg bg-clip-border">
  <table class="w-full text-left table-auto min-w-max">
    <thead>
      <tr>
        {% for title in header %}
        <th class="p-4 border-b border-slate-300 bg-slate-50">
          <p class="block text-sm font-normal leading-none text-slate-500">
              {{title}}
          </p>
        </th>
          {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for column in custom_columns %}
      <tr class="hover:bg-slate-50">
          {% for c in column %}
        <td class="p-4 border-b border-slate-200">
          <p class="block text-sm text-slate-800">
              {{c}}
          </p>
        </td>
    {%endfor%}
    </tr>
    {%endfor%}
    </tbody>
  </table>
</div>
